<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    
   	<!-- 전체 글 목록 -->
    <select id="articleList" resultType="board">
    	SELECT ROW_NUMBER() OVER (ORDER BY notice_seq) AS rowNum,
    				notice_seq, member_id, password, title, content, writeTime, views
		FROM notice
		WHERE isDeleted = 0
		ORDER BY notice_seq DESC
    </select>
    
   	<!-- 게시글 상세 보기 -->
    <select id="articleDetail" parameterType="Long" resultType="board">
    	SELECT notice_seq AS noticeSeq, member_id AS memberId, password, title, content, writeTime, views
    	FROM notice 
    	WHERE notice_seq=#{noticeSeq}
    	AND isDeleted = 0
    </select>
    
   	<!-- 전체 글 갯수 조회 -->
    <select id="articleCount" resultType="Integer">
    	SELECT COUNT(notice_seq)
    	FROM notice
		<where>
			isDeleted = 0
			<if test="startDate != null and startDate !=''">
				AND writeTime BETWEEN #{startDate} AND #{endDate}
			</if>
	        <if test="searchKeyword != null and searchKeyword != ''">
	            <choose>
	                <when test="searchOption == 'Title'">
	                   AND title LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	                <when test="searchOption == 'All'">
	                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
	                    OR content LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
    </select>
    
    <!-- 페이징 포함 목록 -->
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
    	SELECT ROW_NUMBER() OVER (ORDER BY notice_seq) AS rowNum,
    				notice_seq AS noticeSeq, member_id AS memberId, title, content, writeTime, views
    	FROM notice 
    	<where>
    		isDeleted = 0
    		<if test="startDate != null and startDate !=''">
				AND writeTime BETWEEN #{startDate} AND #{endDate}
			</if>
	        <if test="searchKeyword != null and searchKeyword != ''">
	            <choose>
	                <when test="searchOption == 'Title'">
	                   AND title LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	                <when test="searchOption == 'All'">
	                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
	                    OR content LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
    	ORDER BY notice_seq DESC 
    	LIMIT #{start}, #{limit}
    </select>
    
    <!-- 게시글 조회수 증가 -->
    <update id="updateViews" parameterType="Long">
    	UPDATE notice 
    	SET views = views + 1 
    	WHERE notice_seq=#{noticeSeq}
    	AND isDeleted = 0
    </update>
    
    <!-- 게시글 저장 -->
    <insert id="saveArticle" parameterType="board">
        INSERT INTO notice(member_id, password, title, content)
        VALUES (#{memberId}, #{password}, #{title}, #{content})
    </insert>
    
   	<!-- 게시글 수정 -->
    <update id="updateArticle" parameterType="board">
    	UPDATE notice 
    	SET title=#{title}, content=#{content}
    	WHERE notice_seq=#{noticeSeq}
    	AND isDeleted = 0
    </update>
    
    <!-- 게시글 삭제 -->
    <update id="deleteArticle" parameterType="Long">
        UPDATE notice 
        SET isDeleted = 1
        WHERE notice_seq = #{loginId}
    </update>
    
    <!-- 게시글 삭제 배치 -->
    <update id="deleteBatchedArticle" parameterType="java.time.LocalDateTime">
        UPDATE notice 
        SET isDeleted = 1
       	 WHERE writeTime &lt;= #{deleteDay}
    </update>
    
 </mapper>