<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<!-- 회원가입 -->
	 <insert id="joinMember" parameterType="member">
        INSERT INTO member(name,  member_id, password, email, address)
        VALUES (#{name}, #{memberId}, #{password}, #{email}, #{address})
    </insert>
    
    <!-- 로그인 -->
    <select id="loginMember" parameterType="String" resultType="member">
    	SELECT member_id, password
    	FROM member
    	WHERE member_id = #{memberId}
    	AND isDeleted = 0
    </select>
	
	<!-- 회원 로그인 이메일 조회 -->
	<select id="findByEmail" parameterType="String" resultType="member">
		SELECT name, member_id AS memberId, password, email
		FROM member
		WHERE email = #{loginEmail}
	</select>
	
	<!-- 회원 로그인 아이디 조회 -->
	<select id="findById" parameterType="String" resultType="member">
		SELECT name, member_id AS memberId, password, email, joinTime, address
		FROM member
		WHERE member_id = #{loginId}
	</select>
	
	<!-- 회원 수정 -->
    <update id="updateInfo" parameterType="member">
    	UPDATE member 
    	SET name = #{name}, password = #{password}, address = #{address}
    	WHERE member_id = #{memberId}
    	AND isDeleted = 0
    </update>
    
    <!-- 회원 탈퇴 -->
    <update  id="deleteMember" parameterType="String">
    	UPDATE member 
        SET isDeleted = 1, deleteTime = NOW()
    	WHERE member_id = #{memberId}
    </update>
    
    <!-- 회원 탈퇴 배치 -->
    <delete id="deleteBatchedMember" parameterType="java.time.LocalDateTime">
        DELETE FROM member 
       	WHERE isDeleted = 1 
       	AND deleteTime &lt;= #{withdrawalDay}
    </delete>
	
</mapper>